<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Ecommerce Test Suite">
    <test name="Login Tests">
        <classes>
            <class name="com.juaracoding.LoginTest"/>
        </classes>
    </test>
    <test name="Add To Cart Tests">
        <classes>
            <class name="com.juaracoding.AddToCartTest"/>
        </classes>
    </test>
</suite>