# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.restore
pom.xml.findbugs
dependency-reduced-pom.xml
build.log
.system_generated/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse
.metadata/
.classpath
.project
.settings/
*.launch

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/

# OS/Log files
*.log
.DS_Store
Thumbs.db
